@import url('https://fonts.googleapis.com/css2?family=Italianno&family=Playfair+Display&display=swap');

//colors
$backgroundColor:#FBFBEC;
$cherryPink: #F4B3C2;
$middleGreen: #47885E;
$jet: #2B2B2B;
